@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');

:root {
    --hue-neutral: 50;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    background-image: url("https://i.imgur.com/x8hTYUG.jpg");
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Edu SA Beginner', cursive, sans-serif;
}

header {
    position: absolute;
    top: 0;
    margin-left: auto;
}

.logo {
    font-size: 3rem;
    color: gold;
}

@media only screen and (max-width: 650px) {
.logo {
    font-size: 2.5rem;
    color: gold;
}
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    position: relative;
    width: 80vw;
    height: 70vh;
    border: 2px solid black;
    margin: auto;
    background-color: darkslategrey;
    box-shadow: 0 0 10px 2px;
    border-radius: 10px;
}

#question {
    font-size: 1.5rem;
    font-weight: 600;
    width: 60vw;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    color: white;
}

@media only screen and (min-width: 650px) {
#question {
    font-size: 2.5rem;
    font-weight: 600;
    width: 60vw;
    margin: auto;
    text-align: center;
    color: white;
}
}

@media only screen and (max-width: 650px) {
    #answerButtons {
        margin: 20% 37%;
        width: 50vw;
    }
  }

#answerButtons {
    height: 30vh;
    margin: auto;
    margin-top: 7%;
}

.btn {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    justify-content: center;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 50vw;
    height: 10vh;
    margin: auto;
    font-family: 'Edu SA Beginner', cursive, sans-serif;
    font-weight: 600;
    color: #DB163A;
}

.btn:hover {
    border-color: #DB163A;
    transform: scale(1.1);
    font-size: 2rem;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
    color: #FFFDD0;
}

#nextBtn {
    position: absolute;
    background-color: gold;
    font-size: 1.5rem;
    padding: 10px 20px;
    width: 10vw;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
}

#startBtn {
    background-color: gold;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 20px 10px;
    width: 40vw;
    height: 25vh;
    margin-top: 22.5vh;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnGrid {
    display: grid;
    gap: 10px 0px;
}

.hide {
    display: none;
}