@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');

:root {
    --hue-neutral: 50;
    --hue-wrong: 0;
    --hue-correct: 145;
}

#highscore {
    position: relative;
    display: flex;
    top: 30%;
    justify-content: center;
    text-align: center;
    color: gold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://i.imgur.com/x8hTYUG.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Edu SA Beginner', cursive, sans-serif;
}

header {
    position: absolute;
    top: 0;
    margin-left: auto;
}

.logo {
    font-size: 3rem;
    color: gold;
}

@media only screen and (max-width: 850px) {
.logo {
    font-size: 2.5rem;
    color: gold;
}
}

@media only screen and (min-width: 850px) {
    .topnav ul {
        margin-left: auto;
        margin-right: auto;
    }
    .topnav a.navIcon {
        display: none !important;
      }
    .topnav #myLinks {
        display: flex !important;
    }
    #contactForm {
        margin: 5% auto !important;
    }
    #aboutContainer {
        top: 20% !important;
        padding: 20px 10px !important;
    }
}

.topnav {
    position: relative; 
    max-width: 100%;
  }

  .topnav #myLinks {
    display: none;
}

  div ul {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: 1px solid gold;
  }
  
  .topnav a {
    color: gold;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    max-width: 80%;
  }
  
  .topnav a.navIcon {
    font-size: 1.5rem;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: gold;
  }
  
  .topnav a:hover {
    color: gold;
  }

  @media only screen and (max-width: 350px) {
    .topnav a {
        color: gold;
        padding: 15px 15px;
        text-decoration: none;
        font-size: 1rem;
        display: flex;
        max-width: 80%;
      }
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    position: relative;
    width: 80vw;
    height: 80vh;
    border: 2px solid black;
    margin: auto;
    background-color: darkslategrey;
    box-shadow: 0 0 10px 2px;
    border-radius: 10px;
}

@media only screen and (min-width: 650px) {
    #aboutContainer {
        padding: 20px 10px !important;
    }
    #contactForm textarea {
        width: 50% !important;
    }
    #checkScore {
        right: 10px !important;
        bottom: 10px !important;
        transform: translate(0, 0) !important;
    }
    #checkBtn {
        width: 10vw !important;
        height: 7vh !important;
    }
    .topnav ul {
        margin-left: auto;
        margin-right: auto;
    }
}

#aboutContainer {
    position: relative;
    text-align: center;
    width: 80%;
    top: 9%;
    left: 10%;
    border: 2px dotted gold;
    padding: 0px 10px;
}

#aboutContainer h2 {
    color: gold;
    font-size: 2rem;
}

#aboutContainer p {
    color: white;
    font-size: 1.5rem;
}

#contactForm {
    position: relative;
    text-align: center;
    width: 90%;
    margin: 35% auto;
    color: gold;
    border: 2px dotted gold;
    padding: 20px 0px;
}

#contactForm textarea {
    width: 90%;
}

input[type=submit] {
    border-radius: 10px;
    padding: 5px 15px;
    background-color: gold;
    color: #DB163A;
}

input[type=submit]:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#question {
    font-size: 1.5rem;
    font-weight: 600;
    width: 60vw;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    color: white;
}

@media only screen and (min-width: 650px) {
#question {
    font-size: 2.5rem;
    font-weight: 600;
    width: 80vw;
    margin: auto;
    text-align: center;
    color: white;
}
input[type=text] {
    width: 20vw;
    height: 30px;
}

input[type=email] {
    width: 20vw;
    height: 30px;
}
#nextBtn {
    width: 10vw !important;
    height: 7vh !important;
}
}

@media only screen and (max-width: 650px) {
    #answerButtons {
        margin: 20% 37%;
        width: 50vw;
    }
  }

#answerButtons {
    height: 30vh;
    margin: auto;
    margin-top: 7%;
}

.btn {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    justify-content: center;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 50vw;
    height: 10vh;
    margin: auto;
    font-family: 'Edu SA Beginner', cursive, sans-serif;
    font-weight: 600;
    color: #DB163A;
}

.btn:hover {
    border-color: #DB163A;
    transform: scale(1.1);
    font-size: 2rem;
    cursor: pointer;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
    color: #FFFDD0;
}

#nextBtn {
    position: absolute;
    background-color: gold;
    font-size: 1.5rem;
    width: 25vw;
    height: 10vw;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
}

#nextBtn:hover {
    cursor: pointer;
}

#startBtn {
    background-color: gold;
    font-size: 2rem;
    text-transform: uppercase;
    width: 40vw;
    height: 12vh;
    margin-top: 33.3vh;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnGrid {
    display: grid;
    gap: 10px 0px;
}

#checkScore {
    position: absolute;
    right: 50%;
    bottom: 5%;
    transform: translate(50%, 0);
}

#checkBtn {
    width: 25vw;
    height: 10vh;
    border-radius: 10px;
    font-size: 1.5rem;
}

#levelCheck {
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.35);
    width: 30vw;
    height: 5vh;
    bottom: 5%;
}

#currentLevel {
    color: gold;
    font-size: 1.5rem;
}

.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}